.DS_Store
SSCrypto.xcodeproj/xcuserdata
SSCrypto.xcodeproj/ed.mode1v3
SSCrypto.xcodeproj/project.xcworkspace
SSCrypto.xcodeproj/project.xcworkspace/xcuserdata/ed.xcuserdatad/UserInterfaceState.xcuserstate